<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>brand</key>
		<string>TOYOTA</string>
		<key>image</key>
		<string>toyota2</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>TATA</string>
		<key>image</key>
		<string>safari-storme</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>MARUTI</string>
		<key>image</key>
		<string>swift</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>HONDA</string>
		<key>image</key>
		<string>jazz</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>CHEVROLET</string>
		<key>image</key>
		<string>beat</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>FIAT</string>
		<key>image</key>
		<string>avventura</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>NISSAN</string>
		<key>image</key>
		<string>terrano</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>MAHINDRA</string>
		<key>image</key>
		<string>mahindra-xuv-500</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>HYUNDAI</string>
		<key>image</key>
		<string>hyundai-verna</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>SKODA</string>
		<key>image</key>
		<string>skoda-octiva</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>AUDI</string>
		<key>image</key>
		<string>audi</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>BMW</string>
		<key>image</key>
		<string>bmw</string>
	</dict>
	<dict>
		<key>brand</key>
		<string>LAND ROVER</string>
		<key>image</key>
		<string>landrover</string>
	</dict>
</array>
</plist>
